@charset "UTF-8";

body{
    background-color: rgb(221, 221, 221);
    font-family:'Arial';

}
header{

}
footer{
    background-color: rgb(159, 158, 158);
    text-decoration: none;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

p{
    font-family: 'Arial';
    text-indent: 30px;
    text-align: justify;
}

.atencao1{
    color: red;
    font-weight: bold;
    font-size: large;   
}
.atencao2{
    color: red;
    font-weight: bold;
    font-size: large;
    font-style: italic;    
}
